html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(/quote-generator/images/bg.mp4);
    background-size: contain;
    width: 100%;
}

.bg-video {
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .8;
    position: absolute;
}

.bg-video-content {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.quote-container {
    width: auto;
    max-width: 900px;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 5px 5px 5px rgba(255, 255, 255, 0.4);
}

.quote-text {
    font-size: 2.75rem;
}

.long-quote {
    font-size: 2rem;
}

.fa-quote-left, .fa-quote-right {
    font-size: 4rem;
}

.quote-author {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 15px;
    font-style: italic;
    transition: all .5s;
}

.quote-author:hover {
    cursor: pointer;
    color: rgba(255,255,255, .7);
    transform: translateY(-3px);
}

.quote-author:active {
    transform: translateY(0);
}

.quote-word {
    display:inline-block;
    transition: all .5s;
}

.quote-word:hover {
    cursor: pointer;
    color: rgba(240, 52, 52, .9);
    transform: translateY(-7px);
    font-weight: bold;
}

.quote-word:active {
    transform: translateY(0);
    color: red;
}

.button-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

button {
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #333;
    outline: none;
    padding: 1rem 1rem;
    box-shadow: 0 0.3rem rgba(121, 121, 121, .7);
    transition: all .5s;
}

button:hover {
    transform: translateY(-3px);
    filter: brightness(110%);
}

button:active {
    transform: translateY(0);
    box-shadow: 0 0.1rem rgba(121, 121, 121, .7);
}

.twitter-button, .facebook-button {
    border-radius: 50%;
}

.twitter-button:hover {
    color: #38a1f3;
}

.facebook-button:hover {
    color: #0084ff;
}

.fa-twitter, .fa-facebook {
    font-size: 1.2rem;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #000; /* Black */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

/* Media Query: Tablet or Smaller */

@media screen and (max-width: 1000px) {
    .quote-container {
        margin: auto 10px;
    }

    .quote-text {
        font-size: 2.5rem;
    }

    .quote-author {
        font-size: 1.75rem;
    }

    .fa-quote-left, .fa-quote-right {
        font-size: 3.5rem;
    }
}